:root{
    --color1:#846A31;
    --color2:#b77c39;
    --color3:#744803;
   
}
@media only screen and (max-width:800px) {   
    body{
        background-image:url(../Imgs/Fondo_responsive.png) ;
        height: auto;
    }
    .logRes{
        display: block;
    }
    .logDes{
        display: none;
    }
    .nuestrosp{
       margin-top: 5%;
       width: 25rem;
    }
    .nuestrosp h2{
        text-align: center;
        font-family: 'Lobster', sans-serif;
        font-size: 3rem;
    }
    #messageC{
        position: relative;
        top: -3rem;
        text-align: center;
        display: none;
    }
    .Container-mother--{
        margin-top: 0;
        display: flex;
        flex-direction: column;
        justify-content: center
    }
    .Productos{
        position: relative;
        top: -3rem;
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
    }
    .card{
        margin-left: 2%;
        margin-top: 3%;
        background-color: var(--color3);
        border-radius: 3rem;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .card img{
        width: 13rem;
        height: 10rem;
        border: 6px solid var(--color2);
        border-radius: 3rem;
    }
    .card h1{
        text-align: center;
        color: white;
        font-family: 'Poppins', sans-serif;
        font-size: 1.6rem;
    }
    .containerButton button{
        background-color: var(--color1);
        color: white;
        border: none;
        width: 7rem;
        height: 2rem;
        font-size: 1.1rem;
        margin-top: 5%;
        border-radius: 0.5rem;
    }
    .containerButton button:hover{
        background-color:#a1823e ;
        cursor: pointer;
    }
    
    .Container--In{
        margin-top: 0;
        display: flex;
        flex-direction: column;
        justify-content: center
    }
    .nuestrospi{
        margin-top: 10%;
        position: relative;
        top: -4rem;
        color: black;
     }
     .nuestrospi h2{
         text-align: center;
         font-family: 'Lobster', sans-serif;
         font-size: 3rem;
     }
     #messageCi{
         text-align: center;
         display: none;
         position: relative;
         margin-top: -7%;
         margin-bottom: 7%;
     }
     .barraBus{
        margin-left: 8%;
        top: -3rem;
    }
    .barraBus input{
        font-size: 0.9rem;
        width: 21rem;
    }
    .barraBus button{
        top: -2.5rem;
        left: 0;
        margin-left: 75%;
    }
}
@media only screen and (min-width:315px) and (max-width:380px){
    .barraBus button{
        top: -2.5rem;
        left: 0;
        margin-left: 80%;
    }

}
@media only screen and (min-width:384px) and (max-width:396px){
    .barraBus button{
        top: -2.5rem;
        left: 0;
        margin-left: 80%;
    }
    
}
@media only screen and(min-width:420px) and(max-width:435px){
    body{
        background-image:url(../Imgs/Fondo_responsive.png) ;
        background-size: cover;
        height: auto;
    }
}