<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actualizar Producto</title>
    <link rel="stylesheet" href="../assets/css/navbar2.css">
    <link rel="stylesheet" href="../assets/css/RegistrarProductos.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Poppins&family=Preahvihear&family=Questrial&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/footer.css">
    <link rel="stylesheet" href="../assets/css/styles.registrarP.responsive.css">
    <link rel="stylesheet" href="../assets/css/Cargando.css">
</head>
<body style="height: 58rem;">
    <script 
     src="https://widget.cloudinary.com/v2.0/global/all.js" 
     type="text/javascript">
    </script>
    <script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
    <div class="Cargando">
        <img src="../assets/Imgs/Carga.gif" alt="">
        <h2>Cargando...</h2>
    </div>
    <!--Nav-->
    <img src="../assets/Imgs/menu.svg" class="menu" id="hamburguesa">
    <img src="../assets/Imgs/vector-nav.png" alt="" class="vectorcito">
    <div class="nav" id="menu_emer">
        <div class="head">
            <img src="../assets/Imgs/Logo.png">
            <h1 id="cerrarMenu">X</h1>
        </div>
        <ul>
            <li class="ini"><a href="./../index.html"style="text-decoration: none;color: white;">Inicio</a></li>
            <li><a href="./contactanos.html"style="text-decoration: none;color: white;">Contáctanos</a></li>
            <li><a href="./quienesSomos.html"style="text-decoration: none;color: white;">Quiénes Somos</a></li>
        </ul>
    </div>
    <!--Container mother-->
    <div class="container-mother">
        <img src="../assets/Imgs/logo.png" class="logo">
        <div class="containerForm">
            <div class="title">
                <h1>Galletas y Hojaldres</h1>
                <h2>Actualizar Producto</h2>
            </div>
            <form id="form">
                <div class="container-datos-img">
                    <div class="imagen">
                        <h1 id="h1img">IMAGEN</h1>
                        <div class="previewImagenn"></div>
                        <label id="select">Seleccionar Imagen</label>
                        <input type="file" class="file" id="imgfile" accept="image/*">
                    </div>
                    <div class="datos">
                        <input type="hidden" id="Id">
                        <label for="Nombre">Nombre Producto</label>
                        <input type="text" id="Nombre">
                        <label for="Descripcion">Descripcion Producto</label>
                        <textarea name="" id="Descripcion"></textarea>
                    </div>
                </div>
                <button type="submit" id="enviarF">ENVIAR</button>
            </form>
        </div>
    </div>
    <footer style="position: relative; top: -10rem;">
        <div class="containerfooter1">
            <div class="vector1">
                <div class="text-footer">
                    <h3>@Oscar Andres Ortiz @Julian Andres Peralta</h3>
                    <h4>3508010097-Julperalta1306@gmail.com</h4>
                </div>
                    <img src="../assets/Imgs/Vector-footer1.png">
            </div>
            <div class="vector2">
                <div class="icons">
                    <a href="https://wa.me/573223496849?text=Hola quiero saber mas acerca de tus productos" target="_blank"><img src="../assets/Imgs/iconwha.png"  id="Whatsapp" class="wha"></a>
                    <img src="../assets/Imgs/icon2.png"  id="Facebook" class="facee">
                </div>
                <img src="../assets/Imgs/Vector-footer2.png" alt="" class="vector2i">
            </div>
        </div>
        <div class="containerfooter2">
            <br>
            <h3>@Oscar Andres Ortiz @Julian Andres Peralta</h3>
            <br>
            <h4>3508010097-Julperalta1306@gmail.com</h4> 
            <br>
            <div class="container-icons">
                <img src="../assets/Imgs/iconwha.png" alt="" class="wh" id="What">
                <img src="../assets/Imgs/icon2.png" alt="" class="face" id="Face">
            </div>
        </div>
    </footer>
    <script src="../assets/js/ActualizarProducto.js"></script>
    <script src="../assets/js/Carga.js"></script>
    <script src="./../assets/js/menu.js"></script>
    <script src="../assets/js/Token.js"></script>
</body>
</html>