<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contactanos</title>
    <link rel="stylesheet" href="../assets/css/navbar.css">
    <link rel="stylesheet" href="../assets/css/contactanos.css">
    <link rel="stylesheet" href="../assets/css/footer.css">
    <link rel="stylesheet" href="../assets/css/Cargando.css">
</head>
<body>
    <div class="Cargando">
        <img src="../assets/Imgs/Carga.gif" alt="">
        <h2>Cargando...</h2>
    </div>
    <img src="./../assets/Imgs/menu.svg" class="menu" id="hamburguesa">
    <img src="./../assets/Imgs/logo.png" class="imgMobile" id="Abrir-login">
    <div class="nav" id="menu_emer">
        <div class="head">
            <img src="./../assets/Imgs/logo.png" >
            <h1 id="cerrarMenu">X</h1>
        </div>
        <ul>
            <li class="ini"><a href="./../index.html"style="text-decoration: none;color: white;">Inicio</a></li>
            <li><a href="./contactanos.html" style="text-decoration: none;color: white;">Contáctanos</a></li>
            <li><a href="./quienesSomos.html" style="text-decoration: none;color: white;">Quiénes Somos</a></li>
        </ul>
        <img src="./../assets/Imgs/logo.png" class="logDes" id="Abrir-loginn">
    </div>
    <div class="galletas">
        <div class="text1">
            <h1>Galletas y Hojaldres</h1>
        </div>
        <div class="contact">
            <div class="img">
                <a href="#"><img src="../assets/Imgs/whas.png"></a>
            </div>
            <div class="img">
                <a href="#"><img src="../assets/Imgs/face.png"></a>
            </div>
        </div>
        <div class="text2">
            <h1>Contactanos por estos medios</h1>
        </div>
    </div>
    <footer>
        <div class="containerfooter1">
            <div class="vector1">
                <div class="text-footer">
                    <h3>@Oscar Andres Ortiz @Julian Andres Peralta</h3>
                    <h4>3508010097-Julperalta1306@gmail.com</h4>
                </div>
                    <img src="../assets/Imgs/Vector-footer1.png">
            </div>
            <div class="vector2">
                <div class="icons">
                    <a href="https://wa.me/573223496849?text=Hola quiero saber mas acerca de tus productos" target="_blank"><img src="../assets/Imgs/iconwha.png"  id="Whatsapp" class="wha"></a>
                    <img src="../assets/Imgs/icon2.png"  id="Facebook" class="facee">
                </div>
                <img src="../assets/Imgs/Vector-footer2.png" alt="" class="vector2i">
            </div>
        </div>
        <div class="containerfooter2">
            <br>
            <h3>@Oscar Andres Ortiz @Julian Andres Peralta</h3>
            <br>
            <h4>3508010097-Julperalta1306@gmail.com</h4> 
            <br>
            <div class="container-icons">
                <img src="../assets/Imgs/iconwha.png" alt="" class="wh" id="What">
                <img src="../assets/Imgs/icon2.png" alt="" class="face" id="Face">
            </div>
        </div>
    </footer>
</body>
<script src="../assets/js/Carga.js"></script>
<script src="../assets/js/menu.js"></script>
</html>