<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../assets/css/styles.login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Poppins&family=Questrial&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container-modal" id="ModalLogin">
        <div class="container-Mother">
            <div class="containerImg-text">
                <img src="../assets/Imgs/Logo.png" alt="" class="logito">
                <p>¡Bienvenido a nuestro rincón de delicias!</p>
                <p> Inicia sesión para sumergirte en un mundo dulce de galletas y hojaldres irresistibles. ¡Estamos emocionados de tenerte aquí!</p>
            </div>
            <div class="container-form">
                <h1 id="titleI">Ingresa tus datos</h1>
                <form id="Formulario">
                    <label for="Nombre">Nombre de usuario</label>
                    <input type="text" id="Nombre" autocomplete="off">
                    <label for="Contrasena">Contraseña</label>
                    <input type="password" id="Contrasena" autocomplete="off">
                    <button type="submit">Enviar</button>
                </form>
            </div>
            <h1 class="CerrarLo" id="Cerrar-login">X</h1>
        </div>
    </div>
    <Button id="Abrir-login">Abrir</Button>
    <script src="../assets/js/login.js"></script>
</body>
</html>