<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuestros Productos</title>
    <link rel="stylesheet" href="../assets/css/styles_nuestrosP.css">
    <link rel="stylesheet" href="../assets/css/footer.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/navbar2.css">
    <link rel="stylesheet" href="../assets/css/styles.Reponsive.css">
    <link rel="stylesheet" href="../assets/css/Cargando.css">
</head>
<body>
    <div class="Cargando">
        <img src="../assets/Imgs/Carga.gif" alt="">
        <h2>Cargando...</h2>
    </div>
    <!--Confirmacion para contactar-->
    <div class="contactacion" id="modalcon">
        <div class="seguro">
            <h2 id="cerrarC">X</h2>
            <img src="../assets/Imgs/galletaContacta.png" alt="" class="contactaGa">
            <h1>Si te intereso este producto contactanos para obtener mas informacion</h1>
            <button>Contactar</button>
        </div>
    </div>
    <!--Nav-->
    <img src="../assets/Imgs/menu.svg" class="menu" id="hamburguesa">
    <img src="../assets/Imgs/vector-nav.png" alt="" class="vectorcito">
    <div class="nav" id="menu_emer">
        <div class="head">
            <img src="../assets/Imgs/Logo.png">
            <h1 id="cerrarMenu">X</h1>
        </div>
        <ul>
            <li class="ini"><a href="../index.html"style="text-decoration: none;color: white;">Inicio</a></li>
            <li><a href="./contactanos.html"style="text-decoration: none;color: white;">Contáctanos</a></li>
            <li><a href="./quienesSomos.html"style="text-decoration: none;color: white;">Quiénes Somos</a></li>
        </ul>
        <img src="../assets/Imgs/logo.png" class="logDes" style="position: relative; margin-right: 0;width: 18%;height: 18%; right: -16rem;">
    </div>
    <img src="../assets/Imgs/logo.png" class="logRes">
    <div class="Container-mother--">
        <div class="nuestrosp">
            <h2>Nuestros Productos</H2>
        </div>
        <h1 id="messageC">No hay Productos disponibles por el momento</h1>
        <div class="Productos" id="ProductosN">
        </div>
    </div>
    <!--Container productos con cards mobile-->
    <div class="productos-res" id="productos-resM"></div>
    <!-- Estructura para mobile, contenedores de modales-->
    <div class="containerModals" id="containerModals"></div>
    <!--Conocenos mas-->
    <div class="Conocer-mas">
        <p>¡Nos encantaría saber de ti! ¿Tienes preguntas, sugerencias o simplemente quieres compartir tu amor por nuestras galletas y hojaldres? No dudes en contactarnos:</p>
    </div>
     <!-- Footer -->
    <footer>
        <div class="containerfooter1">
            <div class="vector1">
                <div class="text-footer">
                    <h3>@Oscar Andres Ortiz @Julian Andres Peralta</h3>
                    <h4>3508010097-Julperalta1306@gmail.com</h4>
                </div>
                    <img src="../assets/Imgs/Vector-footer1.png">
            </div>
            <div class="vector2">
                <div class="icons">
                    <a href="https://wa.me/573223496849?text=Hola quiero saber mas acerca de tus productos" target="_blank"><img src="../assets/Imgs/iconwha.png"  id="Whatsapp" class="wha"></a>
                    <img src="../assets/Imgs/icon2.png"  id="Facebook" class="facee">
                </div>
                <img src="../assets/Imgs/Vector-footer2.png" alt="" class="vector2i">
            </div>
        </div>
        <div class="containerfooter2">
            <br>
            <h3>@Oscar Andres Ortiz @Julian Andres Peralta</h3>
            <br>
            <h4>3508010097-Julperalta1306@gmail.com</h4> 
            <br>
            <div class="container-icons">
                <img src="../assets/Imgs/iconwha.png" alt="" class="wh" id="What">
                <img src="../assets/Imgs/icon2.png" alt="" class="face" id="Face">
            </div>
        </div>
    </footer>
    <script src="../assets/js/menu.js"></script>
    <script src="../assets/js/Carga.js"></script>
    <script src="../assets/js/LeerProductos.js"></script>
</body>
</html>